h1, h2 {
  color: green;
}

p {
  color: gray;
}
ul {
  border: 2px dashed orange;
}

ol {
  border: 20px solid purple;
}

ol, ul {
  padding: 5px 20px;
  border-radius: 20px;
}
h1, strong {
  color: yellow;
}

em {
  color: red;
}
main {
    grid-area: mainy;
    background: rgb(240, 234, 182);
    max-height: 100%;
    display: block;
}
header, nav, main, aside, footer {
    padding: 1.5em;
    border: 1px black solid;
}
body {
    background: rgb(240, 239, 199);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
font-family: 'Roboto Flex', sans-serif;
