@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

h1, h2 {
  color: black;
}

p {
  color: black;
}
ul {
  border: 2px dashed orange;
}

ol {
  border: 20px solid purple;
}

ol, ul {
  padding: 5px 20px;
  border-radius: 20px;
}
h1, strong {
  color: black;
}

em {
  color: black;
}
main {
    grid-area: mainy;
    background: rgb(240, 234, 182);
    max-height: 100%;
    display: block;
}
header, nav, main, aside, footer {
    padding: 1.5em;
    border: 1px black solid;
}
body {
    background: rgb(240, 239, 199);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
